{% extends "recipes/base.html" %}
{% block title %} Pantry update {% endblock title %}

{% block pantry_subtract %}

<div class="py-1 text-center bg-light">
    <h1 class="display-4">Enjoy your <br><b>{{recipe.name}}</b> !</h1>
        <div class="img-one">
        <img id="redirectimg"
             class="rounded"
             src="{{ recipe.picture.url }} "
             style="cursor: pointer;width:180px;height:120px;">
      </div>
</div>
<!--INFO WHAT HAS BEEN REMOVED-->
<div class="py-1 text-center bg-light">
    <p class="lead text-muted">
        <b>We removed those ingredients from your pantry:</b></p>
    <div class="row">
        <div class="col-6 container">
            <ul style="list-style-type: none">
              {% for recipe_ingredient in recipe_ingredients %}
                  <li class="text-muted">
                    {{ recipe_ingredient }}
                  </li>
              {% endfor %}
            </ul>
        </div>
    </div>
<!--    REDIRECTING-->
    <div class="row">
        <div class="col">
            <hr>
            <p class="lead">
                Thank you for using <b>CookingCompanion</b>!
                We hope you liked it. See you again soon!</p>
            <a href="{% url 'core:pantry-detail' %}"><button type="button" class="btn btn-sm btn-outline-info">Go to pantry</button></a>
            <a href="{% url 'recipes:recipe-list' %}"><button type="button" class="btn btn-sm btn-outline-info">Go to recipe list</button></a>
        </div>
    </div>
</div>

{% endblock %}