{% extends "recipes/base.html" %}
{% block title %} {{recipe.name}} {% endblock title%}

{% block recipe_detail %}
<br>
<p class="lead text-muted"><a href="{% url 'recipes:recipe-list' %}">Back to the list</a>!</p>
<div class="py-1 text-center container">
  <div class="row">
      <div class="col-md-8 mx-auto">
    <h2 class="fw-light"> {{recipe.name}} </h2>
      </div>
  </div>
</div>

image missing
<hr>
    <div class="container">
      <h4 class="fw-light">INGREDIENTS:</h4>

    <ol>
      {% for recipe_ingredient in recipe_ingredients %}
      <b><li class="lead text-muted bold">
        <p >{{ recipe_ingredient }}</p></b>
      </li>
      {% endfor %}
    </ol>
  </div>
<hr>

  <div class="container">
  <h4 class="fw-light">DESCRIPTION:</h4>
    <p class="text-muted">{{ recipe.description }}</p>
  </div>
<hr>

        <div class="container">
            <div class="row row-cols-2 g-3">
                <div class="col">
                    <h5 class="fw-light">Want to keep looking?</h5>
                      <p class="lead text-muted">No problem, let's go back to the
                        <a href="{% url 'recipes:recipe-list' %}">list</a>!</p>
                </div>
                <div class="col">
                    <h5 class="fw-light">Like this recipe?</h5>
                      <p class="lead text-muted">Awesome! Let's see what you need to buy to prepare it:
                        <a href="{% url 'recipes:recipe-check' %}">check</a>!</p>
                </div>
            </div>
        </div>

{% endblock %}
