{% extends "recipes/base.html" %}
{% block title %} Check&Compare {% endblock title%}

{% block recipe_check %}
<div class="py-1 text-center bg-light">
    <h1 class="display-4"> To prepare the <br><b>{{recipe.name}}</b>...</h1>
</div>
<!--INGREDIENTS FOR THE RECIPE-->
<div class="py-1 bg-light container">
    <hr>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 mx-auto text">
            <h5 class="fw-light">What you need:</h5>
                        {% for recipe_ingredient in recipe_ingredients %}
                            <p class="list-group text-muted">
                            {{ recipe_ingredient.ingredient.name }}
                            {{ recipe_ingredient.quantity }}
                            {{ recipe_ingredient.ingredient.unit }}
                            </p>
                        {% endfor %}
            <br>
              <p class="lead text-muted">Back to the
                  <a href="{% url 'recipes:recipe-detail' recipe.pk %}">recipe</a>!</p>
        </div>
        <div class="col-5 mx-auto" >
            <h5 class="fw-light">What you have in your pantry:</h5>
                {% if pantry_ingredients %}
                    <ul >
                        {% for pantry_ingredient in pantry_ingredients %}
                            <p class="list-group text-muted">
                                {{ pantry_ingredient.ingredient.name }}
                                {{ pantry_ingredient.quantity }}
                                {{ pantry_ingredient.ingredient.unit }}
                            </p>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">Oops... looks like your pantry is empty.</p>
                {% endif %}
            <p class="lead text-muted">Something is not right? Go to
                <a href="{% url 'core:pantry-detail' %}">pantry</a>!</p>
        </div>
        <div class="col-1"></div>
    </div>
    <hr>

<!--    CHECK AND COMPARE LOGIC-->
    <div class="text-center">
        {% if missing_ingredients or partly_missing_ingredients.items %}
            <p class="lead text-muted">Oops... looks like you don't have enough ingredients to prepare this recipe.</p>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 mx-auto">
            <h5 class="fw-light">What you don't have at all:</h5>
                {% if missing_ingredients %}
                    {% for missing_ingredient in missing_ingredients %}
                        <p class="list-group text-muted">
                            {{ missing_ingredient.ingredient.name }}
                            {{ missing_ingredient.quantity }}
                            {{ missing_ingredient.ingredient.unit }}
                        </p>
                    {% endfor %}
                {% else %}
                    <p class="text-muted">There is no completely missing ingredients!</p>
                {% endif %}
        </div>
        <div class="col-5 mx-auto">
            <h5 class="fw-light">Partly missing ingredients:</h5>
                {% if partly_missing_ingredients.items %}
                    {% for key, values in partly_missing_ingredients.items %}
                        <p class="list-group text-muted">
                            {{ key.name }}
                            {{ values }}
                            {{ key.unit }}
                        </p>
                    {% endfor %}
                {% else %}
                    <p class="text-muted">There is no partly missing ingredients!</p>
                {% endif %}
        </div>
        <div class="col-1"></div>
        {% endif %}
    </div>
<!--CREATING SHOPPING LIST-->
    <div class="row text-center">
        <div class="col mx-auto">
            {% if missing_ingredients or partly_missing_ingredients.items %}
            <br>
<!--            <p class="lead text-muted">Do you wan't to print out a <b>SHOPPING LIST</b>?-->
<!--                    Click >here<..-->
<!--                    NOTE TO SELF: brak logiki EXPORTU pliku-->
<!--UPDATING: SUBSTRACT THE INGREDIENTS FROM PANTRY-->
            {% else %}
            <p class="lead text-muted"><b>Great!</b> You have <b>all the ingredients</b>
                needed to make this recipe!</p>
            <p class="lead text-muted">Click <a href="{% url 'recipes:pantry-subtract' recipe.id %}">here</a>
                to remove from your pantry everything that will be consumed.</p>
            {% endif %}
        </div>
    </div>
</div>
<!--REDIRECTING-->
<footer class="container bg-light text-center">
    <div class="row row-cols-2 g-3">
        <div class="col">
            <hr>
            <p class="lead text-muted"><b>Want to keep looking?</b>
              No problem, let's go back to the
                <a href="{% url 'recipes:recipe-list' %}">recipe list</a>!</p>
        </div>
    </div>
</footer>

{% endblock %}