<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Thanks for registering at our page!
 You will be redirected to login page in <div id="counter">5</div> seconds.
    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/account/login");
            }
        }, 1000);
    </script>
If this does not work - please click below.
<button onclick="location.href = '/account/login';" id="LoginButton" class="float-left submit-button">
Login
</button>

</body>
</html>