{% extends "core/base.html" %}
{% block title %} Confirm delete {% endblock %}
{% load static %}

{% block pantryingredient_form %}

  <h2>Deleting an ingredient...</h2>
  <form method="POST" style="display: inline;">{% csrf_token %}
    <p>Are you sure you want to delete <b>{{ingredient.name}}</b> from your pantry ?</p>
    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
  </form>
  <a href="{% url 'core:pantry-detail' %}"><button class="btn btn-secondary btn-sm">Back to the list</button></a>

{% endblock %}