{% extends "core/base.html" %}
{% block title %} Pantry of {{user.username}} - check {% endblock %}
{% load static %}

{% block pantryingredient_check %}

<div class="py-1 text-center bg-light container">
    <br>
    <div class="col-md-8 mx-auto">
        {% for pantry_ingredient in ingredients_chosen %}
        <button type="button" class="btn btn-dark btn-sm g-1" disabled >{{pantry_ingredient}}</button>
        {% endfor %}
    </div>
        <br>
        <p class="lead text-muted"> Wan't to choose something else? </p>
        <a href="{% url 'core:pantry-detail-form' %}" >
            <button class="btn btn-outline-dark btn-sm">
                Back to pantry view</button>
        </a>
        <hr>
        <p class="lead"><b>Okay, let's see what you can cook with that...</b></p>
</div>

<!--LIST OF SORTED RECIPES-->
<div class="album py-4 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for key, values in sorted_recipes.items %}
                <div class="col-4 mx-auto">
                    <div class="card shadow-sm">
                            <a href="{% url 'recipes:recipe-detail' key.pk %}" target="blank">
                                <img id="redirectimg"
                                     class="bd-placeholder-img card-img-top"
                                     width="100%" height="225"
                                     src="{{ key.picture.url }} "
                                     style="cursor: pointer">
                            </a>
                        <div class="card-body">
                            <p class="card-text lead"><b>{{ key }}</b></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}