{% extends "core/base.html" %}
{% block title %} Pantry of {{user.username}}  {% endblock title%}
{% block pantry_detail %}

<div class="py-1 text-center container">
<div class="row py-lg-5">
  <div class="col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to your pantry !</h1>
        {% if ingredient_fits_category %}
          <p class="lead text-muted">These are the products you've got so far. <br></p>
        {% else %}
          <p class="lead text-muted">{{ empty_msg }}</p>
        {% endif %}
        <a href="{% url 'core:create' %}"><button class="btn btn-outline-info">Add something new</button></a>
  </div>
</div>
</div>

<div class="album py-5 bg-light">
    <div class="py-1 text-center container">
        <h5 class="lead text-muted">
            <div class="fw-light">
                <p><b>Don't know what to cook? With CookingCompanion it's not a problem!</b></p>
                <p><b>Just pick the ingredients you want to use, and we will suggest something for you:</b></p>
                <a href="{% url 'core:pantry-detail-form' %}"><button type="button" class="btn btn-sm btn-outline-info">Enable checkboxes</button></a>
            </div>
        </h5>
    </div>
    {% for key, value in ingredient_fits_category.items %}
    <div class="container"><b>{{ key }}</b>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        {% for val in value %}
                        <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{ val }}
                                        <div class="btn-group">
                                            <a href="{% url 'core:update' val.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Modify</button></a>
                                            <a href="{% url 'core:delete' val.id %}"><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                                </li>
                        </ul>
                            </p>
                        {% endfor %}
                        <a href="{% url 'core:pantry-detail' %}"><button type="button" class="btn btn-sm btn-outline-danger">Delete all from this category</button></a>
                        <i> jeszcze nie gotowe...</i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
