{% extends "core/base.html" %}
{% block title %} {% endblock %}
{% load static %}

{% block pantryingredient_check %}

<section class="py-1 text-center container">
    <div class="row py-lg-5">
        <div class="col-md-8 mx-auto">
        <h3 class="fw-light">Let's see what you can cook with:</h3>
            {% for pantry_ingredient in ingredients_chosen %}
            <button type="button" class="btn btn-info btn-sm" disabled >{{pantry_ingredient}}</button>
            {% endfor %}
      </div>
    </div>
        <p class="lead text-muted"> Wan't to choose something else? </p>
        <a href="{% url 'core:pantry-detail-form' %}" ><button class="btn btn-danger btn-sm">Back to pantry view</button></a>
<hr>
</section>

<section class="py-1 text-center container">

<div class="py-1 text-center container">
<div class="row py-lg-5">
  <div class="col-md-8 mx-auto">
      <h4 class="fw-light">SORTED RECIPE LIST:</h4>
        {% for key, values in matching.items %}

      <div class="img-one">
        <a href="{% url 'recipes:recipe-detail' key.pk %}" target="blank">
        <img id="redirectimg"
             class="alignnone size-full wp-image-1303"
             src="{{ key.picture.url }} "
             style="cursor: pointer;"
        </a>

      <p class="lead text-muted"><br>
           <a href="{% url 'recipes:recipe-detail' key.pk %}">{{ key }}</a>

        {% endfor %}
  </div>
</div>
</div>

<hr>
</section>

{% endblock %}