
{% extends "core/base.html" %}
{% block title %} Pantry of {{user.username}}  {% endblock title%}
{% block pantry_detail %}

<div class="py-1 text-center container">
<div class="row py-lg-5">
  <div class="col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to your pantry !</h1>
        {% if ingredient_fits_category %}
          <p class="lead text-muted">These are the products you've got so far. <br></p>
        {% else %}
          <p class="lead text-muted">{{ empty_msg }}</p>
        {% endif %}
        <a href="{% url 'core:create' %}"><button class="btn btn-outline-info">Add something new</button></a>
  </div>
</div>
</div>

<div class="album py-5 bg-light">
    <div class="py-1 text-center container">
        <h5 class="lead text-muted">
            <div class="fw-light">
                <b>Pick the ingredients you want to use:</b>
                <a href="{% url 'core:pantry-detail' %}"><button type="button" class="btn btn-sm btn-outline-warning">Disable checkboxes</button></a>
                <p>jeszcze select all moze??</p>
            </div>
        </h5>
    </div>
<form class="form-inline-center" role="form">

    {% for key, value in ingredient_fits_category.items %}
    <div class="container"><b>{{ key }}</b>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        {% for val in value %}
                        <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{ val }}
                                    <input type="checkbox" name="ingredients_check[]" value="{{ val.id }}" class="form-check-input-inline me-1" >
                                </li>
                        </ul>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
        <div class="py-1 text-center container">
        <h5 class="lead text-muted">
            <div class="fw-light">
<!--                <b>Pick the ingredients you want to use:</b>-->
                <input type="submit" value="Check out recipes" class="btn btn-outline-info">
<!--                    <a href="{% url 'core:pantry-check' %}"><button type="button" class="btn btn-outline-secondary">Check out recipes</button></a>-->
            </div>
        </h5>
    </div>
</form>
</div>





{% endblock %}

