{% extends "core/base.html" %}
{% block title %} Pantry of {{user.username}} {% endblock title%}
{% block pantryingredient_form %}

<!--BUTTONY DO WYBRANIA KATEGORII-->
<section class="py-1 bg-light text-center container">
    <br>
    <a href="{% url 'core:pantry-detail' %}" >
        <button class="btn btn-secondary btn-sm">Back to pantry view</button>
    </a>
    <div class="row py-lg-5">
        <div class="col-md-10 mx-auto">
        <h5 class="fw-light">Choose a category:</h5>
            <form class="form-inline-center" role="form">
            {% for category in categories_all %}
                <input type="submit"
                       value="{{category.name}}"
                       name="ingredient_category"
                       class="btn btn-outline-secondary btn-sm">
            {% endfor %}
            </form>
      </div>
    </div>
<hr>
<!--KOMUNIKAT O WPROWADZENIU BŁĘDNEJ LUB ISTNIEJĄCEJ JUZ WARTOŚCI-->
    {% if integrityerror_flag == 1 %}
      <br><p class="lead text-danger"> {{ duplicate_msg }} </p>
    {% elif flag == 2 %}
      <br><p class="lead text-muted"> {{ wrong_name_msg }} </p>
    {% endif %}

<!--BUTTONY DO WYBRANIA INGREDIENTS-->
    {% if ingredientchosen_flag == 0 %}
<!--    NOTE TO SELF: dodać selecta z podpowiedzią??-->
    <div class="row py-lg-5">
      <div class="col-md-10 mx-auto">
        <h5 class="fw-light">Choose an ingredient:</h5>
            <form class="form-inline-center" role="form">
            {% for ingredient in ingredients_all %}
                <button type="submit"
                        value="{{ingredient.id}}"
                        name="ingredient_id" class="btn btn-outline-secondary btn-sm">
                    {{ ingredient }}
                </button>
            {% endfor %}
            </form>
      </div>
    </div>
    {% endif %}

<!--WYŚWIETLENIE INPUTA DO WPORWADZENIA "QUANTITY"-->
    {% if ingredientchosen_flag == 1 %}
      <p class="lead text-muted"> Insert the amount of <b>{{ ingredient }}</b>: </p>
        <form method="POST" class="form-center" role="form">{% csrf_token %}
            <div class="input-group-inline">
                <input type="number" name="quantity" value="0" placeholder="0,00">
            </div>
            <br>
            <input type="submit" value="Add" class="btn btn-dark btn-sm">
        </form>
    {% endif %}

</section>

{% endblock %}