{% extends "core/base.html" %}
{% block title %} Pantry of {{user.username}} - check {% endblock %}
{% load static %}

{% block pantryingredient_check %}

<div class="py-1 text-center bg-light container">
    <br>
    <div class="col-md-8 mx-auto">
        {% for pantry_ingredient in ingredients_chosen %}
        <button type="button" class="btn btn-outline-info btn-sm" disabled >{{pantry_ingredient}}</button>
        {% endfor %}
    </div>
        <br>
        <p class="lead text-muted"><b>Let's see what you can cook...</b></p>
        <hr>
</div>

<!--LIST OF SORTED RECIPES-->
<div class="py-1 text-center bg-light container">
    <div class="row py-lg-5">
        <div class="col-md-8 mx-auto">
            {% for key, values in matching.items %}
                <div class="img-one">
                    <a href="{% url 'recipes:recipe-detail' key.pk %}" target="blank">
                        <img id="redirectimg"
                             class="rounded"
                             src="{{ key.picture.url }} "
                             style="cursor: pointer;width:180px;height:120px;">
                        <p class="lead text-muted"><b>{{ key }}</b></p>
                    </a>
            {% endfor %}
                </div>
        </div>
    </div>
        <hr>
        <p class="lead text-muted"> Wan't to choose something else? </p>
        <a href="{% url 'core:pantry-detail-form' %}" ><button class="btn btn-outline-danger btn-sm">Back to pantry view</button></a>
</div>

{% endblock %}